.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: #f9f9f9;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: white;
  padding: 2em;
  border: none;
  width: 90%;
  max-width: 540px;
  max-height: 657px;
  aspect-ratio: 4/5;
  line-height: 140%;
  overflow: auto;
  background-image: url('/paper-page-bg-01.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.quoteEdit {
  /* background-color: white; */
  padding: 2em;
  border: none;
  width: 80%;
  max-width: 540px;
  max-height: 657px;
  aspect-ratio: 4/5;
  line-height: 140%;
}

.quote:hover {
  background-color: #dadada;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;

}

.highlight {
  /* background-color: aqua; */
  padding: .1em .3em;
  border-radius: 30px 30px 40px 25px / 25px 10px 40px 15px;
}

.hoverText {
  position: absolute;
  top: 0px;
  visibility: hidden;
  font-weight: bold;
  font-style: italic;
  opacity: 0%;
}

.quote:hover .hoverText {
  visibility: visible;
  top: 10px;
  opacity: 100%;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.colors {
  display: flex;
  gap: 15px;
}

.cButton {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px none;
  cursor: pointer;
}

.cButton:hover {
  transform: scale(1.1);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.cButton:active {
  transform: scale(.8);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.selected {
  border: solid 2px #5e5e5e;
}