.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: #f9f9f9;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: white;
  padding: 2em;
  border: none;
  width: 540px;
  aspect-ratio: 4/5;
  line-height: 140%;
  overflow: auto;
}

.quoteEdit {
  background-color: white;
  padding: 2em;
  border: none;
  width: 540px;
  aspect-ratio: 4/5;
  line-height: 140%;
}

.quote:hover {
  background-color: #dadada;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;

}

.highlight {
  background-color: aqua;
}

.hoverText {
  position: absolute;
  top: 0px;
  visibility: hidden;
  font-weight: bold;
  font-style: italic;
  opacity: 0%;
}

.quote:hover .hoverText {
  visibility: visible;
  top: 10px;
  opacity: 100%;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.colors {
  display: flex;
  gap: 15px;
}

.cButton {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 2px #444444;
  cursor: pointer;
}

.cButton:hover {
  transform: scale(1.1);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.cButton:active {
  transform: scale(.8);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.blue {
  background-color: #35ffe5;
}

.green {
  background-color: #35ff80;
}

.pink {
  background-color: #ff35b4;
}

.yellow {
  background-color: #ffe536;
}