.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: calc(100vh - 60px); */
  height: 600px;
  width: 100%;
  padding: 20px;
}

.loadFrame {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border: #e9e9e9 4px solid;
  /* border-radius: 10px; */
  /* padding: 20px; */
  aspect-ratio: 1/1;
  max-width: 540px;
  max-height: 540px;
  width: 100%;
  height: auto;
}

.spinner {
  border: 4px solid #e9e9e9;
  border-radius: 50%;
  border-top: 4px solid #2a2aad;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loadText {
  font-size: 1rem;
  font-weight: bold;
  padding-top: 20px;
}

.buttons {
  padding: 10px;
  display: flex;
  gap: 10px;
}

.generatedImage {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}


.tempCenter {
  position: absolute;
  top: 0;
  left: -99999px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.offscreenFrame {
  /* border: #e9e9e9 4px solid; */
  aspect-ratio: 1/1;
  width: 540px;
  height: 540px;
}

.capture {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 100%;
}

.quoteFrame {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0 40px;
  overflow: hidden;

  background-image:
    url('/noise20.png'),
    /* Overlay color */
    /* linear-gradient(to right, rgba(204, 174, 139, 0.4), rgba(231, 212, 189, 0.2)), */
    linear-gradient(to right, rgba(204, 174, 139, 0.1), rgba(231, 212, 189, 0.2)),
    /* Book Spine Gradient */
    linear-gradient(73deg, rgba(0, 0, 0, .25) 0%, rgba(0, 0, 0, 0) 30%),
    /* Paper texture */
    url('/paper-bg-01.jpg');

  background-repeat: no-repeat;
  background-size: cover;
}

.quote,
.lorem,
.mirrorWrapper,
.mirror,
.highlight {
  font-family: "fanwood", serif;
  font-size: 22pt;
  line-height: 110%;
  font-weight: 500;
  color: #150901;
}

.lorem {
  filter: blur(0.5px);
  padding: 15px 0;
  opacity: 40%;
  color: #281102;
}

.mirrorWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.mirror {
  transform: scaleX(-1);
  filter: blur(3px);
  opacity: 0.15;
  line-height: 150%;
  width: 80%;
  height: auto;
}

.highlight {
  /* background: linear-gradient(90deg, rgba(255, 254, 0, 1) 0%, rgba(255, 254, 0, 0.6) 3%, rgba(255, 254, 0, 0.8)) !important; */
  background-repeat: no-repeat !important;
  border-radius: 35px !important;
  background-size: 100% 60% !important;
  background-position: center 60% !important;
  box-decoration-break: clone !important;
}

.hidden {
  display: none;
}

.colors {
  display: flex;
  gap: 15px;
}

.cButton {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px none;
  cursor: pointer;
}

.cButton:hover {
  transform: scale(1.1);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.cButton:active {
  transform: scale(.8);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.selected {
  border: solid 2px #5e5e5e;
}